@import "../abstracts/variables";

.key {
  font-family: $primary-font;
  display: flex;
  color: $font-color;
  margin: 2px 3px;
  font-size: 1.1rem;
  justify-content: center;
  border-radius: 2px;
  background: $primary-color;
  box-shadow: 0px 2px 4px 2px $secondary-color;
  cursor: pointer;
  transition: all 0.2s ease;

  user-select: none;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -webkit-touch-callout: none; 
  
  &.active {

    transform: translateY(3%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 
                inset 0px -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: $primary-color;
    background: $secondary-color;
    box-shadow: 0px 2px 4px 1px $secondary-color;

  }

  & > *:not(.hidden) {

    display: flex;
    padding: 0.8rem 0.5rem;
    align-self: center;

  }

  &:hover {

    color: $primary-color;
    background: $secondary-color;
    box-shadow: 0px 2px 4px 1px $secondary-color;

  }

  &:active {

    transform: translateY(3%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 
                inset 0px -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

  }
}

.keyboard__row:nth-child(1) > .key:nth-child(1) {
  color: $font-color;
  background: $primary-color;

  &:hover {

    color: $primary-color;
    background: $secondary-color;
    box-shadow: 0px 2px 4px 1px $secondary-color;

  }

  &:active {

    transform: translateY(3%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 
                inset 0px -1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;

  }
}

.spec-char {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  padding-left: 0;
  color: $primary-color;
  background: $addition-color;

  &.active {

    color: $addition-color;

  }
  &:hover {

    color: $addition-color;
    background: $secondary-color;

  }
}

.keyboard__row:nth-child(5) > .key:nth-child(4) {
  color: $primary-color;
}