$primary-color: #dee7dc;
$secondary-color: #4a92a2;
$font-color: #585858;
$addition-color: #ccb23c;

$background: rgb(142,125,113);
$gradient-background: linear-gradient(360deg, rgba(142,125,113,1) 5%, rgba(80,117,115,1) 95%);
// 
$primary-font: 'Roboto Slab', serif;